<div class="sm-col sm-col-3 sm-show">
  <ul class="list-reset p2">
    <li class="bold">
      <a href="{{ site.baseurl }}/quick-start.html">Quick Start</a>
    </li>
    <li>
      <ul class="list-reset p1">
        <li>
          <a href="{{ site.baseurl }}/quick-start.html#get-started">
            Get started
          </a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/quick-start.html#set-up-sso">
            Set up SSO
          </a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/quick-start.html#set-up-chat">
            Set up chat
          </a>
        </li>
      </ul>
    </li>

    <li class="bold">
      <a href="{{ site.baseurl }}/chat.html">Chat</a>
    </li>
    <li>
      <ul class="list-reset p1">
        <li>
          <a href="{{ site.baseurl }}/chat.html#mentions">
            Mentions
          </a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/chat.html#emoji">
            Emoji
          </a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/chat.html#formatting">
            Formatting
          </a>
        </li>
      </ul>
    </li>

    <li class="bold">
      <a href="{{ site.baseurl }}/webhooks.html">Webhooks</a>
    </li>
  </ul>
</div>
